*{ 
    font-family: 'Montserrat';
}

.body{ 
    background-color: #323D41; 
    margin: 5%;
} 


.btnlogin{ 
    margin: 40%; 
    border-radius: 20px; 
    padding: 10%; 
    border: none; 
    background-color: #D9D9D9; 
    opacity: 0.5;
} 

.navbar-toggler{ 
    margin-right: 5%; 
    background-color: #D9D9D9; 
    opacity: 0.5;
} 

.homeImg{ 
    width: 100%; 
    margin-top: -8%;
} 

.titlecontainer{   
    width: 100%;
    z-index: 1; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: white;  
    font-family: 'Montserrat' ; 
    text-transform: uppercase; 
    
}

.title1{ 
   font-size: 115px;
} 
.title2{ 
    font-size: 90px;
} 

.btn1{  
    border-radius: 20px; 
    border: none; 
    background-color: #D9D9D9; 
    opacity: 0.5;
    font-family: 'Montserrat'; 
    font-size: 20px; 
    padding: 10px 20px;
    text-transform: uppercase; 
    color: #323D41;
}